@font-face {
  font-family: dosis;
  src: url(../fonts/Dosis-Regular.ttf);
}

@font-face {
  font-family: dosis-bold;
  src: url(../fonts/Dosis-ExtraBold.ttf);
}

@font-face {
  font-family: noto;
  src: url(../fonts/NotoSans-Regular.ttf);
}

@font-face {
  font-family: moo;
  src: url(../fonts/SwankyandMooMoo.ttf);
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*//////////STYLING IMPORTS////////////*/
/**/
/**/
/**/
/**/
/**/
body {
  background-color: #e2dfdb;
  font-family: sans-serif;
  margin-bottom: 100px;
}

footer {
  background-color: #f2f2f2;
  font-size: 0.65em;
  font-weight: bold;
  color: #262626;
  width: 100%;
  display: block;
  position: fixed;
  bottom: 0px;
  text-align: center;
  padding: 6px;
  letter-spacing: 2px;
  word-spacing: 3px;
  line-height: 125%;
  border-top: 1px solid #ccc;
}

#footer-left {
  display: inline-block;
  float:left;
  margin-left: 1%;
}

#footer-mid {
  display: inline-block;
  text-align: center;
  margin-left: -17%;
}

#footer-right {
  display: inline-block;
  float: right;
  margin-right: 1%;
}

a {
  color: #8EC127;
}
/**/
/**/
/**/
/**/
/*///////START splash.html//////*/
#splash-bg-pic {
  background-image: url(../images/bg_maps2-sm.jpg);

  background-color:#ccc;
  position:fixed;
  width:100%;
  height:100%;
  bottom:0px;
  right:0px;
  z-index:2;
}

#splash-container {
  background-color: rgba(255, 255, 255, 0.45);
  width: 100%;
  height: 84%;
  display: block;
  margin: 4% auto 4% auto;
  font-family: dosis;
}

#splash-logo {
  width: 28%;
  font-family: dosis-bold;
  font-size: 3em;
  display: block;
  margin: 0 auto -1% auto;
}

#tagline {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.splash-blurb {
  width: 40%;
  display: block;
  margin: auto;
  padding: 1em;
  line-height: 120%;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.splash-blurb-two {
  width: 40%;
  display: block;
  margin: auto;
  padding: 1em;
  line-height: 120%;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1.5px;
}

#splash-btn {
  font-family: dosis-bold;
  display: block;
  padding: 1%;
  margin: 3% auto;
  border: 2px solid #A9E555;
  border-radius: 12px 2px;
  font-size: 1.5em;
  z-index: 1000;
  box-shadow: 3px 3px #D41243;
  background-color: #8EC127;
}

#splash-btn:active {
  box-shadow: 1px 1px 0 0 #888888;
}
/*//////END splash.html///////*/
/**/
/**/
/**/
/**/
/*///////START snips.html///////*/
#top-wrapper {
  background-color: #3F3B8A;
  display: block;
  padding: 0 1%;
  opacity: 0.85;
  margin: -1% auto 2% auto;
}

#snips-logo {
  width: 18%;
  display: inline-block;
  float: left;
}

#snips-dash {
  width: 39%;
  display: inline-block;
}

#snips-dash2 {
  width: 39%;
  display: inline-block;
  z-index: 1;
  position: relative;
  right: 16px;
}

.nav-btn {
  font-family: dosis-bold;
  display: inline-block;
  padding: 1%;
  border-radius: 10px;
  background-color: #f47835;
  font-size: 2vw;
  position: absolute;
  right: 2%;
  top: 1%;
  float: right;
  z-index: 5;
  border: 4px solid #ff975d;
  box-shadow: 4px 4px 3px #7d3a19;
  width: 18%;
}

.nav-btn:active {
  box-shadow: 0px 0px 4px 4px #7d3a19;
}

#snips-wrapper {
  width: 98%;
  display: block;
  margin: auto;
}

#snips-countrytotal {
  display: block;
  width: 25%;
  margin: 50px auto 25px auto;
  padding: 1%;
  text-align: center;
  font-size: 1.75vw;
  font-family: dosis-bold;
  letter-spacing: 2px;
  word-spacing: 4px;
  border-top: 3px solid #3f3b8a;
  border-bottom: 3px solid #3f3b8a;
}

/*////END snips.html////*/
/**/
/**/
/**/
/**/
/*////START snip-template.html////*/
.flip-container {
  display: inline-block;
  width: 25%;
  margin: 2% 4%;
  vertical-align: top;
  min-height: 350px;
  perspective: 1000px;
  min-width: 300px;
}

.country-name {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  margin: 2% auto;
  font-family: dosis-bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.country-nativename {
  font-size: 1.2em;
  font-weight: bolder;
  text-align: center;
  margin: 2% auto 4% auto;
  font-family: noto;
  letter-spacing: 2px;
}

li {
  margin-bottom: 4px;
  font-family: noto;
}

.property-name {
  font-weight: bold;
  font-family: dosis;
  font-size: 1.2em;
}

.api-data {
  font-family: noto;
}

.user-data {
  font-family: moo;
  font-size: 1.5em;
}

.img-container {
  display: block;
  width: 90%;
  margin: 0 auto -6% auto;
  min-height: 110px;
  padding: 2%;
}

.land-icon {
  max-width: 64px;
  display: inline-block;
  margin: 2%;
  vertical-align: middle;
}

.snip-flag {
  width: 55%;
  min-height: 50%;
  margin: 2%;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

ul {
  margin: 6% auto 2% auto;
  line-height: 150%;
}

.front ul {
  padding: 0 20px;
}

/*////////////////////flipper animation/////////////*/

/* flip the pane on hover */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

/* flip speed */
.flipper {
	transition: 1s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during flip */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
  padding: 1% 4%;
  min-width: 300px;
  min-height: 350px;
  border: 4px dashed;
  box-shadow: 4px 4px 5px #b3b3b3;
  background-color: #f2f2f2;
}

/* front pane*/
.front {
	z-index: 2;
	transform: rotateY(0deg);
	border-radius: 24px 0px;
}

/* back pane, hidden */
.back {
	transform: rotateY(180deg);
	border-radius: 0px 24px;
}

.Africa {
  border-color: rgb(244, 120, 53);
  background-color: rgba(244, 120, 53, 0.55);
}

.Americas {
  border-color: rgb(142, 193, 39);
  background-color: rgba(142, 193, 39, 0.55);
}

.Asia {
  border-color: rgb(212, 18, 64);
  background-color: rgba(212, 18, 64, 0.55);
}

.Europe {
  border-color: rgb(0, 174, 219);
  background-color: rgba(0, 174, 219, 0.55);
}

.Oceania {
  border-color: rgb(162, 0, 255);
  background-color: rgba(162, 0, 255, 0.55);
}

.Polar {
  border-color: rgb(242, 242, 242);
  border-color: rgba(242, 242, 242, 0.55);
}

/*///END snip-template.html////*/
/**/
/**/
/**/
/**/
/*///START create.html////*/
form {
  font-family: noto;
  font-size: 0.85em;
  font-weight: bold;
  display: block;
  width: 60%;
  margin: 2% auto 5% auto;
  border: 6px double #ccc;
  padding: 4%;
  background-color: #f2f2f2;
  border-radius: 24px 0px;
}

label {
	font-family: dosis;
  color: #d41243;
	font-weight: bold;
	font-size: 1.5em;
}

#create-formwrapper {
  width: 80%;
  display: block;
  margin: auto;
}

input {
  display: block;
  font-family: moo;
  font-size: 1.5em;
  width: 70%;
  padding: 1%;
  border-radius: 4px;
  margin: 2%;
}

select {
  display: inline-block;
  font-family: moo;
  font-size: 1.5em;
  margin: 2%;
  border-radius: 4px;
  padding: 1.25%;
}

input#year {
  display: inline-block;
  width: 20%;
}

textarea {
  width: 100%;
  display: block;
  font-family: moo;
  font-size: 1.5em;
  min-height: 150px;
  resize: none;
  padding: 1%;
  border-radius: 8px;
  margin: 2%;
}

#create-btn {
  font-family: dosis-bold;
  display: block;
  margin: 4% auto 1% auto;
  padding: 1%;
  background-color: #8EC127;
  border: 2px solid #A9E555;
  box-shadow: 3px 3px 2px #d41243;
  font-size: 2vw;
  border-radius: 10px;
  width: 20%;
}

#create-btn:active {
  box-shadow: 1px 1px 0px 0px #d41243;
}
/*////END create.html////*/
/**/
/**/
/**/
/**/
/*////START about.html////*/
#about-wrapper {
  display: block;
  width: 80%;
  margin: 2% auto;
}

#about-text {
  margin: 4% auto;
  font-family: dosis;
  font-size: 20px;
}

h4 {
	font-family: dosis;
  font-size: 20px;
}

.aboutimg {
  border-radius: 50%;
  width: 60%;
  margin: 0 0 5% 0;
}

figure {
  display: inline-block;
  width: 24%;
  vertical-align: top;
  text-align: center;
}

.about-link-icon {
  width: 20px;
  margin: 5px;
}

#about-flaticon {
	width: 90%;
	margin: 50px auto;
	font-size: .7em;
	text-align: center;
}

figcaption {
	margin: 10px;
	color: #D41243;
	font-family: dosis;
    font-size: 20px;
}
/*////END about.html////*/

 @media (max-width: 900px) {
	#footer-left, #footer-mid,  #footer-right{
	  display: block;
	  clear: both;
	  margin: auto;
	  width: 100%;
	}
 }

 @media (max-width: 850px) {
  .flip-container {
    display: block;
	margin: auto;
  }
  
  .front, .back {
	  min-height: 325px;
  }
}

@media (max-width: 750px) {
	label {
		font-size: 1em;
	}

	select, input#year{
		display: block;
	}

	#create-btn {
		width: 30%;
		font-size: 1em;
	}

	.nav-btn {
		padding: 2px;
		font-size: 1em;
		width: 10em;
	}
}

@media (max-width: 715px) {
 
	 input#year {
		 width: 50%;
	 }
}

@media (max-width: 650px) {

	 #top-wrapper {
		 height: 80px;
	 }

	 #snips-logo {
		 width: 25%;
		 margin-top: 10px;
	 }

	 #snips-dash, #snips-dash2 {
		 display: none;
	 }

	 .nav-btn {
		 margin-top: 10px;
	 }
	 
	 .splash-blurb, .splash-blurb-two {
		 font-size: .8em;
		 width: 60%;
	 }
	 
	 #splash-btn {
		 font-size: 1em;
	 }
	 
	 input, input#year, select {
		 width: 100%;
	 }
}

@media (max-width: 650px) {

	 #snips-logo {
		 width: 30%;
		 margin-top: 5px;
	 }
}
