body {
  background-color: #f2f2f2;
  font-family: sans-serif;

}

footer {
  font-weight: bold;
  background-color: #ccc; /*light-grey*/
  font-size: 0.6em;
  color: #333; /*dark-grey*/
  width: 100%;
  display: block;
  position: fixed;
  bottom: 0px;
  text-align: center;
  padding: 6px;
  letter-spacing: 2px;
  word-spacing: 3px;
  line-height: 125%;
}

a {
  color: #3399ff;
}

#splash-container {
  width: 60%;
  display: block;
  margin: 3% auto;
}

#splash-img {
  display: block;
  margin: 1% auto;
  border-radius: 50px;
}

h1 {
  font-size: 3em;
  text-align: center;
  margin: 2% auto;
}

#tagline {
  text-align: center;
  font-size: 1.5em;
}

#splash-blurb {
  width: 68%;
  display: block;
  margin: auto;
  padding: 1em;
  line-height: 120%;
  font-size: 0.9em;
}

#splash-btn {
  display: block;
  padding: 1%;
  margin: 2% auto;
  border-radius: 10px;
  font-size: 1.5em;
}





.snip {
  border: 4px dotted green;
}

#snipform {
  border: 4px dotted green;
}
#border {
  border: 3px solid green;
  width: 60%;
  display: block;
  margin: auto;
  padding: 3em;
}

#createborder {
  border: 3px solid green;
  width: 4em;
  display: block;
  margin: auto;
  padding: .25em;
}

#createborderTwo {
  border: 3px solid green;
  width: 25em;
  display: block;
  margin: auto;
}

#createborderThree {
  border: 3px solid green;
  width: 12em;
  margin: auto;
  display: block;

}

#createborderFour {
  border: 3px solid green;
  width: 14em;
  margin-left: 400px;
  margin-right: 400px;
}

#createborderFive {
  border: 3px solid green;
  width: 2.6em;
  display: block;
  margin: auto;
  padding: .25em;
}
