<div id="top-wrapper">
   <a href="#/splash"><img src="./images/icon_final.svg" id="snips-logo"></a>
  <img src="./images/icon_final-dash.svg" id="snips-dash">
  <img src="./images/icon_final-dash.svg" id="snips-dash2">
  <a href="#/splash"><button type="button" class="nav-btn" id="about-nav-btn">take me home</button></a>
</div>

<div id="about-wrapper">
  <p id="about-text">
    We are a group of students from the institute of Grand Circus located in Detroit who are looking to give back to this great city. Over the course of 10 weeks, we've immersed ourselves in the world of front-end development and have obtained the skills to address the disparity between the size of Detroit’s technology workforce and the need for those with tech talent. We believe TripSnip will motivate people to travel, collect, share, and compare their adventures with family and friends in a fun and easy way.
  </p>

      <div>
      <h4>TripSnip is brought to you by:</h4>
      <br/><br/>

      <figure>
        <img class="aboutimg" src="./images/don.jpg" />
        <figcaption>Donald Robinson</figcaption>

      <!--github button-->
       <a href="https://github.com/drobinson0504"><img class="about-link-icon" src="./images/github-logo.svg"></a>

      <!--linkedin button-->
      <a href="https://www.linkedin.com/in/donald-t-robinson-ii-0b281112b">
      <img class="about-link-icon" src="./images/linkedin.svg" />
      </a>

      <!--portfolio button-->
      <a href="http://nuyou.biz">
      <img class="about-link-icon" src="./images/http.svg" />
      </a>
      </figure>

      <figure>
        <img class="aboutimg" src="./images/sara.jpg" />
        <figcaption>Sara Ahlers</figcaption>

      <!--github button-->
      <a href="https://github.com/sjahlers"><img class="about-link-icon" src="./images/github-logo.svg"></a>

      <!--linkedin button-->
      <a href="https://www.linkedin.com/in/sara-ahlers">
      <img class="about-link-icon" src="./images/linkedin.svg" />
      </a>

      <!--portfolio button-->
      <a href="https://sjahlers.github.io/Portfolio/">
      <img class="about-link-icon" src="./images/http.svg" />
      </a>
      </figure>

      <figure>
        <img class="aboutimg" src="./images/josh.jpg" />
        <figcaption>Joshua Brown</figcaption>

        <!--github button-->
        <a href="https://github.com/wilson1914"><img class="about-link-icon" src="./images/github-logo.svg"></a>

        <!--linkedin button-->
        <a href="https://www.linkedin.com/in/joshua-brown1914">
        <img class="about-link-icon" src="./images/linkedin.svg" />
        </a>

        <!--portfolio button-->
        <a href="https://wilson1914.github.io">
        <img class="about-link-icon" src="./images/http.svg" />
        </a>
      </figure>

      <figure>
        <img class="aboutimg" src="./images/xuan.jpg" />

        <figcaption>Xuan Huang</figcaption>

        <!--github button-->
        <a href="https://github.com/justxuit"><img class="about-link-icon" src="./images/github-logo.svg"></a>

        <!--linkedin button-->
        <a href="https://www.linkedin.com/in/thexuanhuang">
        <img class="about-link-icon" src="./images/linkedin.svg" />
        </a>

        <!--portfolio button-->
        <a href="https://justxuit.github.io">
        <img class="about-link-icon" src="./images/http.svg" />
        </a>
      </figure>

    </div>

	<div id="about-flaticon">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </div>
