
<!--the div's purpose below is to create border around body-->
	<div id="border">
	<h1 id="createborder">TripSnip</h1>
	<div id="createborderTwo">
		<img src="http://placehold.it/400x200">
	</div>

	<form> <!--ng-submit="functionHere" (inside form tag)-->
		<div id="createborderThree">
			<label for="country">Country:</label>
			<input type = "text" ng-model="country"/>
		</div>

		<div id="createborderFour">
			<label for="note">Travel Note:</label><input type = "textarea" maxlength="650" ng-model="note"/>
		</div>

		<div id="createborderFive">
			<input type = "submit" value="Snip!"/>
		</div>
	</form>

</div>



