<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front {{country.region}}">
      <h1 class="country-name">{{country.name}}</h1>
      <h2 class="country-nativename">({{country.nativeName}})</h2>
      <div class="img-container">
        <img class="land-icon" src="../images/landscapes/png/beach.png">
        <img class="snip-flag" ng-src="{{country.flag}}" alt="Flag of {{country.name}}">
      </div>
      <ul>
        <li><span class="property-name">Capital: </span>{{country.capital}}</li>
		<li><span class="property-name">Language: </span>{{country.language}}</li>
        <li><span class="property-name">Population: </span> {{country.population}}</li>
      </ul>
    </div>
    <div class="back {{country.region}}">
      <h1 class="country-name">{{country.name}}</h1>
      <ul>
        <li><span class="property-name">Favorite Place: </span> {{country.favePlace}}</li>
        <li><span class="property-name">Favorite Restaurant: </span> {{country.faveRestaurant}}</li>
        <li><span class="property-name">Favorite Food: </span> {{country.faveFood}}</li>
        <li><span class="property-name">Travel Note: </span>
        {{country.note}}</li>
        <li><span class="property-name">Rating: </span> {{country.rating}}</li>
      </ul>
    </div>
  </div>
</div>
