<div class="snip">
  <span>
    {{country.name}}
  </span>
  <img class="snip-flag" ng-src="{{country.flag}}" alt="Flag of {{country.name}}">
  <ul>
    <li>Native Name: {{country.nativeName}}</li>
    <li>Capital: {{country.capital}}</li>
    <li>Population: {{country.population}}</li>
    <li>Favorite Place: {{country.favePlace}}</li>
    <li>Favorite Restaurant: {{country.faveRestaurant}}</li>
    <li>Favorite Food: {{country.faveFood}}</li>
    <li>Note: {{country.note}}</li>
  </ul>
</div>
