<div id="splash-container">

  <img src=" http://placehold.it/200x200" id="splash-img">

  <h1 id="splash-logo">TripSnip</h1>
  <h2 id="tagline">Travel. Collect. Share. Compare.</h2>

  <br/><br/>

  <p id="splash-blurb">TripSnip is an easy-to-use travel app that creates a snippet of your favorite trips. If you don’t have time to scrapbook, you can still make and share memories of your latest adventure. Simply select the country you visited, write a small description, and save your snippet to your collection. Try to collect them all!</p>

  <a href="#/snips"><button type="button" id="splash-btn">See some snips!</button></a>

</div>
